.chat-message-user {
  display: flex;
  justify-content: right;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-textbox {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.chat-message-text {
  margin-bottom: 5px;
}

.chat-message-time {
  color: rgb(122, 122, 122);
  font-size: 15px;
}