.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 800px;
  height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.protocol-type {
  font-size: 400px;
  font-weight: 600;
}

.protocol-error {
  font-size: 100px;
}
